{% extends "UserBundle:Default:layout.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('bundles/user/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block headermenu %}
{% endblock %}

{% block info %}
<div id="search-row">
    <div class="search-center">
        <div class="search-text">
            <h1>
                <span style="font-weight: normal;">Resultados de personas para </span>"{{ text }}"
            </h1>
        </div>
        <div class="search-buttons">
            <a href="{{ path('publication_search_button') }}" class="button-grey">Publicaciones</a>
            <a href="{{ path('user_search_button') }}" class="button-blue">Personas</a>
            <a href="{{ path('sport_search_button') }}" class="button-grey">Deportes</a>
        </div>
        {% if users|length <= 0%}    
        <div class="search-noresults">
            <h3>
                No se ha encontrado ningún resultado
            </h3>
        </div>
        {% endif %}     
    </div>
</div>
{% endblock %}

{% block elements %}
    {% for user in users %}
        {% include "UserBundle:Default:userPrint.html.twig" with {'user': user, 'starts': null}%}
    {% endfor %}
{% endblock %}

{% block footercenter %}
<div id="footer-loading">
    <img src="{{ asset('bundles/publication/images/app/loading.gif') }}"/>
</div>
{% endblock %}

{% block javascripts %}  
<script src="{{ asset('bundles/publication/js/jquery_002.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    /* Load users with masonry */
    $( document ).ready(function() {
        var $container = $('#container');
        var $elementClass = '.user';
        var $elementWidth = 336;
        var $urlIn = '{{ url('user_search_load', { 'lastElement': '+lastElement+' }) }}';
        var $messageOut = 'No hay más usuarios para mostrar';
        
        $container.imagesLoaded(function() {
            $container.masonry({
                itemSelector: $elementClass,
                columnWidth: $elementWidth,
                isFitWidth: true
            });
        });
        /* Loading more users */
        loadElements($container, $elementClass, $urlIn, $messageOut);
        userActions($container); 
    });    
</script>
{% endblock %}