{% extends '::base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('bundles/publication/css/publication.css') }}" rel="stylesheet" type="text/css" />
<style>
.prev_container{
	overflow: hidden;
	max-width: 286px;
	min-height: 94px;
        text-align: center;
}
.prev_thumb{
        margin: 0 auto;
        text-align: center;
	max-width: 286px;
}
</style>
{% endblock %}

{% block header %}
<div id="header-modal-left">
    <div id="header-modal-left-content">
        <a href="{{ path('index') }}">
            <img id="header-modal-logo" src="{{ asset('bundles/publication/images/app/logo.png') }}" alt="SportChecked"/>
        </a>  
    </div>
</div>
<div id="header-modal-right">
    <div id="header-modal-right-content">
        <a href="#" onclick="parent.$.fn.colorbox.close();">
            <img src="{{ asset('bundles/publication/images/app/close-orange.png') }}" alt="Cerrar" title="Cerrar"/>
        </a>
    </div>
</div>
{% endblock %}

{% block container %}
<div id="wrapper-container-modal" class="centered">
    <form id="newPublication" action="{{ path('publication_new') }}" method="post" {{form_enctype(form) }}>
        <div id="container-modal-light" class="centered">
            <div class="pub-modal-actions">
                <h2>Nueva publicación</h2>
            </div>
            <div class="form-main centered">
                <div class="form-row">
                    <div class="form_data input-l">
                            {{ form_widget(form.link) }}
                    </div>
                </div>
            </div>            
        </div>
        <div id="container-modal" class="centered">    
            <div class="pub bkg-grey-m border-grey-m color-grey-m">
                <div class="pub-top bkg-grey-l border-b-grey-m">
                    <div class="pub-sport-modality">
                        <div class="form-row">
                            <div class="pub-comboBox">
                                {{ form_widget(form.sport) }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="pub-comboBox">
                                {{ form_widget(form.modality) }}
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="pub-title color-black border-t-grey-l">    
                    <div class="form-row">
                        <div class="form-data pub-textarea-l">
                                {{ form_widget(form.title) }}
                        </div>
                    </div>
                </div> 
                <div class="pub-subtitle border-b-grey-m">    
                    <div class="form-row">
                        <div class="form-data pub-textarea-s">
                                {{ form_widget(form.subtitle) }}
                        </div>
                    </div>
                </div> 
                <div class="pub-image2 border-t-grey-l border-b-grey-l-dashed">
                    <div class="pub-image-content border-grey-m centered">
                        <div class="pub-hidden centered">
                            <div class="prev_container" id="prev_sportchecked_publicationbundle_publicationtype_file"></div>
                        </div>
                    </div>     
                    <div class="button-grey pub-custom-input-file">
                        {{ form_widget(form.file) }}
                        Seleccionar imagen
                        <div class="file">...</div>
                    </div> 
                </div>       
                <div class="pub-text border-t-grey-l-dashed">    
                    <div class="form-row">
                        <div class="form-data pub-textarea-xl">
                                {{ form_widget(form.body) }}
                        </div>
                    </div>
                </div>        
            </div>
        </div>  
        <div id="container-modal-light-footer" class="centered">  
            <div class="form-main centered">
                    <div class="form-row">
                        <div class="comboBox">
                            {{ form_widget(form.board) }}
                        </div>
                    </div>          
            </div>             
            <div class="form-row">
                    {{ form_rest(form) }}
                    {{ form_errors(form) }}			
            </div>        
            <div class="pub-modal-buttons" style="padding-top: 5px;">
                <button class="button-blue pub-modal-button-right" type="submit" name="newPublication">Crear</button>
                <a id="cancelButton" class="button-grey pub-modal-a-left" href="#" onclick="parent.$.fn.colorbox.close();">Cancelar</a>
            </div>
        </div>         
    </form>
</div>        
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
<script>
    publicationImage();    
</script>
{% endblock %}